
.title-centered{
	text-align: center;
	margin: 1vh;
}

.type-search-bar{
}


.type-search-bar .type-search-option{
	padding: 0px;
	border-color: #dddddd;
	border-top-style: solid;
	border-right-style: solid;
	border-width: .1vw;
	border-bottom-style: solid;
}

.type-search-bar .leftmost-option{
	border-left-style: solid;
}

.type-search-bar svg{
/*	color: #053A6B;*/
	width: 2em;
	height: 2em;
}
.type-search-bar svg:focus{
	/*color: #fff;*/
	fill: #fff;
	width: 2em;
	height: 2em;
}

.type-search-bar button{
	width: 100%;
	height: 100%;
	padding-bottom: 3vw;
	padding-top: 3vw;
	font-size: .9em;
	color: #076782;
	background-color: #fff;
}

.type-search-bar .type-search-option button:focus{
	background-color: #076782;
	color: #fff;
	outline: none;	
}

.complaint-preview{
	font-weight: bolder;
	font-size: 1em;
	padding: 1;
}

.date-preview{
	font-size: 1em;
}