.menuOptionButton{
	color: #fff !important;
    background-color: #002966 !important;
	border-color: #002966 !important;
	white-space: nowrap;
	width: 100%;
	font-size: 0.8em !important;
}


.menuOptionButton:hover{
	color: #fff !important;
    background-color: #015D9A !important;
    border-color: #015D9A !important;
}