/*
E, pE:		0, 0, 0, 1
C, pC, atr:	0, 0, 1, 0
Id			0, 1, 0, 0
inl			1, 0, 0, 0
*/


.topMenuBar{
	/*background-color: #C1E1C1;*/
	background-color: #006C67;
}

/* Links do cabecalho ao passar o mouse */
.itemTopMenuBar .btn:hover{
	color: #fff;
	text-decoration: none;
	background-color: rgb(17, 143, 137);
	transition: .3s;
}

/* Cor geral do site */

.main-page-title{
	text-align: center;
	padding-bottom: 16px;
	padding-top: 16px;
	display: block;
	font-weight: bold;
	background-color: #006C67;
	color: #fff;
}

.generalThemeColorUsers{
	color: #006C67;
}

.generalThemeColorUsersReverse{
	color: #888;
}

.btnStyleGeneral{
	background-color: #006C67;
	color: #fff;
}

.btnStyleGeneralReverse{
	background-color: #888;
	color: #fff;
}

.mdl .colorTheme{									
	background-color: #006C67;
	color: #fff;
}
.mdl .colorTheme:hover{									
	background-color: rgb(17, 143, 137);
	color: #fff;
}


/* Icone nos formularios */
form .icone{									
	color: #006C67;
}


/* Estilo do botao do formulario*/
form .divBtEnviar button{
	color: #006C67;
}


/* Botoes submit dos formularios */
form input[type="submit"]{						
	background-color: /*#5BA28B*/#006C67;
}

/* Botoes submit ao passar o mouse por cima */
form input[type="submit"]:hover{				
	background-color: rgb(17, 143, 137);
	transition: 0.25s;
}


/*CONFIGURACOES DA PAGINA DE CADASTRO DE NOVOS USUARIO*/

/* Barra nos formularios */
.formRegisterTitleLine{
	background-color: #006C67;
}

/* CONFIGURACOES GERAIS DO MENU DA BARRA SUPERIOS */

/* Menu do topo da pagina inicial */
.topMenuBar{
	color: #006C67;
}


/* Logo ao lado do menu na pagina inicial */
/*.topMenuBar .logo{
	color: #fff;
	font-size: 32px;
	margin-right: 16px;
}*/


/* MENU SANDUICHE NO MENU DA BARRA SUPERIOR */
#menu li:hover{
	background-color: #006C67;
}


/* Area de escolha de tipo de acesso */
.logo{
	font-family: 'Lobster', cursive;
	color: #006C67;
}



/* ESTILOS DA SECAO 'CONFIGURACOES' DO USUARIO*/

.divOptionSettingMenu{
	background-color:#006C67;	
}

/* Cor da opcao quando o mouse passa por cima */
.divOptionSettingMenu:hover{
	background-color: rgb(17, 143, 137);
	transition: 0.25s;
}

/* Opcao atualmente selecionada */
#divOptionSettingMenuSelected{
	background-color: rgb(17, 143, 137);
	transition: 0.25s;
}


/*Botoes de menu*/

.menu-option-div{
	margin: 0px !important;
}

.menuOptionButton{
	background-color:  #eee !important;
    /*background-color:  #C1E1C1 !important;*/
	border-color: #ddd !important;
	white-space: nowrap;
	width: 100%;
	font-size: 0.8em !important;
	font-weight: bold  !important;
	margin: 0px  !important;
	text-align: center;
}


.menuOptionButton:hover{
	color: #fff !important;
    background-color: rgb(17, 143, 137) !important;
    border-color: rgb(17, 143, 137) !important;
}


