

/* Estilo da div que contem o formulario de cadastro */
.divUserRegisterForm form{
	width: 100%;
}

/*.formUserRegister{
	background-color: #eee;
}*/


.formRegisterTitleLine{
	text-align: center;
	/*background-color: #00997a;*/
}

/*Titulo do formulario*/
.formRegisterTitle{
	text-align: center;
}

.labelField{
	font-size: 1em;
	font-weight: bold;
}